body {
    background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg') no-repeat left top;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto
}

.header {
    width: 100%;
    min-height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px 0;
    width: 100%;
    gap: 50px;
}

.main img{
    
    display: block;
}

main .sobre {
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}

main .sobre h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

main .sobre p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: white;
    font-weight: 400;
}

main .sobre .btn-register {
    color: hsl(257, 40%, 49%);
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    width: 200px;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 0 15px 5px rgba(0, 2, 3, 0.336);
    border: none;
    transition: 0.3s ease-in-out;
}

main .sobre .btn-register:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: px;
    gap: 15px;
    padding: 20px;    
}

footer  a {    
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;  
    transition: 0.3s ease-in-out;
}

footer a:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}