body {
    background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    min-height: 75px;
}

main {
    display: flex;
    padding: 50px 70px 0;
    max-width: 1440px;

}

main .sobre {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
}

main .sobre h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

main .sobre p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: white;
    font-weight: 400;
}

main .sobre .btn-register {
    color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 15px 5px rgba(0, 2, 3, 0.336);
    border: none;
    transition: 0.3s ease-in-out;
}

main .sobre .btn-register:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

footer .lista-redes {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    gap: 20px;
    margin-top: 30px;
    margin-right: 100px;
}

footer .lista-redes li a i {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

footer .lista-redes li a i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}